In [8]:
import numpy as np
import pandas as pd
import requests
import xlsxwriter
import math
import yfinance as yf

In [6]:
# importing list of stocks
stocks = pd.read_csv('sp_500_stocks.csv')
stocks

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
500    YUM
501    ZBH
502   ZBRA
503   ZION
504    ZTS

[505 rows x 1 columns]

In [9]:
from secrets import IEX_CLOUD_API_TOKEN

ImportError: cannot import name 'IEX_CLOUD_API_TOKEN' from 'secrets' (/Users/jackcook/miniconda3/lib/python3.11/secrets.py)